/*Variables*/
:root {
    --fuentePincipal: 'Roboto', sans-serif;
    --negro: #000000;
    --blanco: #ffffff;
    --primario: #E8505b;
    --secundario: #455a64;
    --grisClaro: #eceeef;
}

/*Globales*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;

}

.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: var(--fuentePincipal);
    margin: 0 0 5rem 0;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.9rem;
    line-height: 1.5;
}

ul {
    list-style: none;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
}

/*header*/
.header {
    padding: 2rem 0;
}

.header__heading {
    text-align: center;
    text-transform: uppercase;
}

/*integrantes*/
.integrantes {
    
}

.wave {
    margin-bottom: -2rem;
}
.integrantes__contenido {
    background-color: var(--primario);
    padding: 0 0 5rem 0;
    margin: 0;
}

.integrantes__heading {
    text-align: center;
    text-transform: uppercase;
    color: var(--blanco);
}

.integrantes__datos {
    max-width: 25rem;
    margin: 0 auto;
    background-color: var(--blanco);
    box-shadow: 5px 5px 8px -3px rgb(0 0 0 /.4);
    padding: 2rem 4rem;
    border-radius: 1rem;
}

.integrantes__datos li {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
}

.mascotas {
    background-color: var(--grisClaro);
    padding: 2rem 0;
}

.mascotas__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

@media( min-width: 768px ){
    .mascotas__contenedor {
        justify-content: space-around;
        flex-direction: row;
    }
}

.mascotas__imagen {
    width: 40rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.mascotas__link {
    background-color: var(--secundario);
    padding: 1rem 0;
    text-align: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.mascotas__link a {
    text-transform: uppercase;
    color: var(--blanco);
    font-weight: 900;
}
